<ul class="rentals-list">
  {{#each model as |rental|}}
    <li>{{rental.name}}</li>
  {{/each}}
</ul>

{{paginate-collection totalPages=totalPages currentPage=number setCurrentPage=(action "setCurrentPage")}}
